<%- include('partials/header') %>
    <%- include('partials/navbar') %>

        <div class="container container-book mt-4 d-flex" style="height: 80vh; justify-content: center; align-items: center;">
            
            <div class="row">
                <div class="col-md-4">
                    <img src="<%= book.image %>" alt="Capa do Livro" class="img-fluid img-fluid-book">
                </div>
                <div class="col-md-8">
                    <h1 class="mb-4 text-center">
                        <%= book.title %>
                    </h1>
                    
                    <p><strong>Autor:</strong>
                        <%= book.author %>
                    </p>
                    <p><strong>Descrição:</strong>
                        <%= book.description %>
                    </p>
                    <div class="book-rating mb-2">
                        <% for(let i=1; i <=5; i++) { %>
                            <% if(i <=book.rating) { %>
                                <i class="bi bi-star-fill text-warning"></i> <!-- Estrela preenchida -->
                                <% } else { %>
                                    <i class="bi bi-star text-warning"></i> <!-- Estrela vazia -->
                                    <% } %>
                                        <% } %>
                    </div>
                    <p><strong>Preço:</strong>
                        <%= book.price %>
                    </p>
                    <button type="button" class="btn btn-sm btn-success btn-comprar" data-id="<%= book._id %>">Comprar</button>
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>